:root {
	--clr1: #606060;
	--clr2: #58c93a;
	--clr3: #1e1e1e;
	--clr4: #292929;
	--clr5: #4f4e4e;
	--clr6: #c2c1c1;
	--clr7: #c2c2c2;
	--clr8: #e1e0e0;
	--clr9: #818181;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	color: var(--clr1);
	font-family: Lato, serif;
	line-height: 1.25;
}

body {
	font-size: 1rem;
}
