.post {
	display: flex;
	gap: 2.5rem;
	padding-top: 5rem;
}

.post:last-of-type {
	padding-bottom: 5rem;
}

.post-content {
	padding-right: 1.5rem;
	display: flex;
	flex-direction: column;
}

.post img {
	align-self: start;
	width: 50%;
}

.post-content h2 {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.84px;
	font-size: 1.75rem;
	color: var(--clr5);
}

.post-content p {
	letter-spacing: 0.48px;
}

.post-content p:nth-of-type(1) {
	margin-top: 3rem;
}

.post-content p:nth-of-type(2) {
	margin-top: 1rem;
}

.post-content a {
	text-decoration: none;
	color: var(--clr6);
	border-radius: 1.5rem;
	border: 2px solid var(--clr7);
	padding: 0.75rem 1.5rem;
	align-self: start;
	margin-top: auto;
}

.post-content a .arrow {
	margin-left: 0.625rem;
	display: none;
}

.post-content a:hover {
	color: var(--clr2);
	border-color: var(--clr2);
}

.post-content a:hover .arrow {
	color: var(--clr2);
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.post-content h2 {
		font-size: 1.25rem;
	}

	.post-content p:nth-of-type(1) {
		margin-top: 1rem;
	}
	.post-content a {
		margin-top: 0.75rem;
		padding: 0.25rem 0.75rem;
	}
}

@media screen and (max-width: 576px) {
	.post {
		display: block;
	}

	.post img {
		width: 100%;
	}
}
